@import "tailwindcss";

@layer tailwind-base, primevue, tailwind-utilities;

body {
    font-family: 'Poppins', system-ui, -apple-system, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.font-poppins {
    font-family: 'Poppins', system-ui, -apple-system, sans-serif;
}

.font-varela {
    font-family: 'Varela Round', system-ui, sans-serif;
}